// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
text-decoration: none;
text-align: center;
border-radius: 10px;
font-family: cursive;
color: #202c35
}

body {
  font-family: sans-serif;
  background-image: url('wallpaper2.png');
  margin-top: 9em;
  color: #202c35;
}

button {
  padding: 30px;
  font-size: 80px;
  background-image: url('wallpaper2.png');
  border-radius: 70px;
  border: solid 2px #022d3cf5;
  text-align: center;
}
