// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
text-decoration: none;
text-align: center;
border-radius: 10px;
font-family: "Gill Sans", sans-serif;
color: #30678c;
}
